{% extends 'base.html.twig' %}

{% block title %}Visionnez vos types !{% endblock %}

{% block body %}

    <div class="disp-flex fl-col al-center">
        <a class="button" href="{{ path('ajout_type') }}">Ajout type</a>
        <a class="button" href="{{ path('home') }}">Voir les personnages</a>
        <p>Visionnez vos types</p>
    </div>

    {% for type in types %}
        <div class="disp-flex fl-col al-center">
            <img src="{{ type.avatar }}" width="150" height="150">
            <p class="mg-5px">Nom : {{ type.Nom }}</p>
            <a class="button" href="{{ path('voir_type', {'id': type.id}) }}">Voir en détail</a>
        </div>
    {% endfor %}
    
{% endblock %}