{% extends 'base.html.twig' %}

{% block title %}Voici ton type{% endblock %}

{% block body %}
    
    <div class="disp-flex fl-col al-center mg-t-25px">
        <h1>Voici ton type</h1>
        <img src="{{ type.avatar }}" width="500" height="500">
        <p class="mg-5px">Nom : {{ type.Nom }}</p>
        <a class="button" href="{{ path('home_type') }}">Voir les types</a>
        {{ include('type/suppr_form.html.twig') }}
        <a class="button" href="{{ path('modif_type', {'id': type.id}) }}">Editer le type</a>
    </div>


{% endblock %}