{% extends 'base.html.twig' %}

{% block title %}Voici vos personnages !{% endblock %}

{% block body %}
    <div class="disp-flex fl-col al-center">
        <h1>Visionnez vos personnages</h1>
        <a class="button" href="{{ path('ajout_personnage') }}">Ajout personnage</a>
        <a class="button" href="{{ path('home_type') }}">Voir les types</a>
    </div>

    {% for personnage in personnages %}
        <div class="disp-flex fl-col al-center mg-t-25px">
            <p class="mg-5px">Nom : {{ personnage.Nom }}</p>
            <p class="mg-5px">Description : {{ personnage.Description }}</p>
            <p class="mg-5px">Date de naissance : {{ personnage.DateDeNaissance|date('d-m-Y') }}</p>
            <p class="mg-5px">Vie : {{ personnage.Vie }}</p>
            <p class="mg-5px">Niveau : {{ personnage.Niveau }}</p>
            <p class="mg-5px">Expérience : {{ personnage.Experience }}</p>
            <p class="mg-5px">Compétence :{% for competence in personnage.personnageCompetence %}{{ competence.Nom }}{% endfor %}</p>
            <p class="mg-5px">Type :{{ personnage.personnageType.Nom }}</p>
            <a class="button" href="{{ path('voir_personnage', {'id': personnage.id}) }}">détails</a>
        </div>
    {% endfor %}

{% endblock %}