{% extends 'base.html.twig' %}

{% block title %}Visionnez vos personnages !{% endblock %}

{% block body %}
    <h1>Visionnez vos personnages</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>DateDeNaissance</th>
                <th>Description</th>
                <th>Niveau</th>
                <th>Experience</th>
                <th>Vie</th>
            </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            <tr>
                <td>{{ personnage.Nom }}</td>
                <td>{{ personnage.DateDeNaissance|date('d-m-Y') }}</td>
                <td>{{ personnage.Description }}</td>
                <td>{{ personnage.Niveau }}</td>
                <td>{{ personnage.Experience }}</td>
                <td>{{ personnage.Vie }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Vous n'avez pas de personnage</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}