{% extends 'base.html.twig' %}

{% block title %}Détails du personnage{% endblock %}

{% block body %}
    <h1>Voici ton personnage</h1>

    <div class="disp-flex fl-col al-center mg-t-25px">
        <p class="mg-5px">Nom : {{ personnage.Nom }}</p>
        <p class="mg-5px">Description : {{ personnage.Description }}</p>
        <p class="mg-5px">Date de naissance : {{ personnage.DateDeNaissance|date('d-m-Y') }}</p>
        <p class="mg-5px">Vie : {{ personnage.Vie }}</p>
        <p class="mg-5px">Niveau : {{ personnage.Niveau }}</p>
        <p class="mg-5px">Expérience : {{ personnage.Experience }}</p>
        <p class="mg-5px">Compétence :{% for competence in personnage.personnageCompetence %}{{ competence.Nom }}{% endfor %}</p>
        <p class="mg-5px">Type :{{ personnage.personnageType.Nom }}</p>
        <img class="mg-5px" src="{{ personnage.personnageType.Avatar }}" width="150" height="150">
    </div>

    <a class="button" href="{{ path('home') }}">Voir les personnages</a>
    {{ include('personnage/suppr_form.html.twig') }}
    <a class="button" href="{{ path('modif_personnage', {'id': personnage.id}) }}">Editer</a>

{% endblock %}